<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Cargar tarea</button>
</form>