<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Todo App</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
        </li>
    </ul>
</nav>