.footer {
    background-color: #4d4b4b;
    color: white;
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 50px;

    p {
        padding: 50px;

        span {
            font-size: 20px;
            font-weight: bold;
        }
    }
}