<h3>Todo list</h3>
<a class="btn btn-primary" routerLink="/home/new-todo">New Todo</a>
<br><br>
<ul class="list-group" *ngIf="!isLoading && todoList.length">
    <app-todo *ngFor="let todo of todoList" [todo]="todo"></app-todo>
</ul>
<div *ngIf="isLoading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="alert alert-primary" role="alert" *ngIf="!isLoading && !todoList.length">
    There's no todos
</div>