.login__container {
    background-color: #67f525;
    color: white;
    width: 500px;
    height: 700px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    padding: 50px;
}
