<div class="login__container">
    <input type="text" placeholder="User" class="input user__input">
    <input type="text" placeholder="Password" class="input password__input">
    <button (click)="login()" class="button login__button">Login</button>
</div>
